@font-face {
    font-family: 'item menu';
    src: url(./IndieFlower-Regular.ttf);
}

@font-face {
    font-family: 'principal';
    src: url(./LexendDeca-Regular.ttf);
}

$fonte-menu: 'item menu';
$fonte-principal: 'principal';